@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700; 1.900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: #292929;
}
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block; /* Garante que o link não ocupe o espaço de um bloco completo */
}
a:hover {
    opacity: 0.7;
}
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #163352;
    height: 10vh;
    padding: 0 20px; 
    position: relative; 
}
.nav-container {
    display: flex;
    justify-content: center; 
    flex: 1; 
}
.nav-list {
    list-style: none;
    display: flex;
    justify-content: center; 
    flex: 1; 
}
.nav-list li {
    letter-spacing: 1px;
    margin: 0 15px; 
}
.logo-container {
    flex: 0 0 auto; 
}
.mobile-menu {
    display: none;
    cursor: pointer;
    position: absolute; 
    right: 20px;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}
@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #163352;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}
.nav-list.active {
    transform: translateX(0);
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
    opacity: 0;
}
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
img {
    width: 100%;  
    max-width: 200px;  
    height: auto; 
    display: block;  
    margin: 0 auto;  
}
.imagem-padrao {
    width: 100%;  
    max-width: 200px;  
    height: auto;  
    display: block; 
    margin: 0 auto;  
}
main {
    background-color: #292929;
    padding: 20px;
    color: #fff;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
hr{
    width: 100%;
}
.parceiros {
    padding: 20px 0;
}
.parceiros h1 {
    text-align: center;
    margin-bottom: 20px;
}
.parceiro-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.parceiro {
    background-color: #163352;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(234, 255, 0, 0.315);
    text-align: center;
    width: calc(25% - 30px);
    margin-top: 50px;
    font-size: larger;
}
.parceiro img {
    max-width: 50%;
    height: auto;
    margin-bottom: 5px;
    border-radius: 50%;
}
